*{
    box-sizing: border-box;
}
body,html{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    color: black;
    min-height: 100vh;
}
div{
    color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: blueviolet;
    color: white;
    border:none;
    border-radius: 4px;;
}
.container{
    position: fixed;
    top:0;
    left: 0;
    bottom:0;
    display: none;
    right: 0;
    background-color:rgba(0,0,0,0.5) ;
}
.container.active{
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup{
    background-color: whitesmoke;
    position: relative;
    width: 50vw;
    border-radius: 5%;
    box-shadow:2px 2px 10px rgba(0,0,0,0.3);
    padding: 2rem;
}
.popup button{
    background-color: whitesmoke;
    color: rebeccapurple;
    position: absolute;
    top: 10px;
    right: 10px;
}